/* Root Styling Varaibles */
:root{
  --primary-bg : #2C2F33;
  --secondary-bg : #32363A;
  --primary-text : #E6E6E6;
  --secondary-text : #9AA0A6;
  --muted : #6B7280;
  --accent-primary : #7EE787;
  --accent-secondary : #F87171;
  --ui-font : "Fira Sans", "sans-serif";
  --playground-font : "Fira Code", "monospace";
  --logo-font : "Tourney", "sans-serif";
}

/* Body Styling */
body{
  background-color: var(--primary-bg);
  color: var(--primary-text);
  margin: 0;
  font-family: var(--ui-font);
}

/* Header Component */
.logo-container{
  width: 100vw;
  box-sizing: border-box;
  margin: 0;
  height: 100px;
  max-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(126, 231, 135, 0.84);
  box-shadow: 0 4px 10px 2px rgba(126, 231, 135, 0.40);

  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
}

.logo-container img{
  max-height: 60px;
  width: auto;
  
}

/* Footer Container */

.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  max-height: 75px;
  height: 60px;
  box-sizing: border-box;
  padding: 18px 35px;
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0;
  border-top: 1px solid rgba(126, 231, 135, 0.84);

}

.footer-txt{
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: var(--primary-text);
}

.footer a:hover{
  color: var(--accent-primary);
  text-decoration: none;
}

/* Secondary Controls */

.sec-controls{
  width: 100vw;
  box-sizing: border-box;
  /* padding: 10px 20px; */
  margin: 0;
  height: 60px;
  max-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* position: fixed;
  top: 125px;
  left: 0; */
  
}

.sec-btn{
  background-color: var(--primary-bg);
  color: var(--primary-text);
  
}

/* Start Banner */

.banner{
  max-width:1000px;
  max-height: 400px;
  width: 1000px;
  height: 400px;
  background-color: var(--secondary-bg);
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.banner-container{
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    max-height: 200px;
}

.banner-button{
  background-color: var(--accent-primary);
  color: var(--primary-bg);
  font-weight: bold;
  border: none;
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 36px;
  cursor: pointer;
  max-height: 100px;
  max-width: 350px;
  width: 300px;
  height: 75px;
  text-align: center;
}

.banner-button:hover{
  background-color: var(--primary-bg);
  color: var(--accent-primary);
  border: 2px solid var(--accent-primary);
}

.banner p{
  font-size: 30px;
  color: var(--primary-text);
  text-align: center;

}

/* Main Controls */

.controls{
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1000px;
  max-height: 75px;
  height: 50px;
  width: 1000px;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: var(--secondary-bg);
  padding: auto 25px;
  gap: 50px;
}

.seperator{
  width: 2px;
  height: 30px;
  background-color: var(--primary-text);
}

.control-section{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width:450px ;
  width: 100%;
  height: 50px;
  font-size: 24px;
}

.control-section span{
  display: flex;
  justify-content: center;
  align-items: center;
}

.control-section button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  margin: 10px;
  font-size: 20px;
}

.control-icon{
  max-height: 35px;
  max-width: 35px;
  height: 35px;
  width: 35px;
}

.active{
  color: var(--accent-primary);
}

.inactive{
  color: var(--muted);
}

/* Status Bar */

.status-bar{
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1000px;
  max-height: 75px;
  height: 75px;
  width: 1000px;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: var(--secondary-bg);
  padding: auto 25px;
}

.time-remaining{
  color: var(--accent-primary);
}

/* Results */

.results{
  display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 10px;
grid-row-gap: 20px;
  max-width: 1000px;
  width: 1000px;
  box-sizing: border-box;
  max-height: 400px;
  height: 400px;
  background-color: var(--secondary-bg);
  border-radius: 20px;
}

.wpm{
  grid-area: 1 / 1 / 2 / 5;
  border-bottom: 2px solid var(--accent-primary);
}

.accuracy{
 grid-area: 2 / 1 / 4 / 2;
}

.raw-wpm{
  grid-area: 2 / 2 / 4 / 3;
  border-left: 2px solid var(--accent-primary);
  border-right: 2px solid var(--accent-primary);
}

.char{
  grid-area: 2 / 3 / 4 / 5;
}

.wpm-value{
  color: var(--accent-primary);
text-align: center;
font-size: 100px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.wpm-text{
  color: var(--primary-text);
text-align: center;
font-size: 32px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.accuracy-value, .raw-wpm-value{
 color: var(--accent-primary);
text-align: center;
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.char-value{
  color: var(--accent-primary);
text-align: center;
font-size: 48px;
font-style: normal;
font-weight: 650;
line-height: normal;
}

.accuracy-text, .raw-wpm-text, .char-text{
  color: var(--primary-text);
text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.main-res{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.res-sec{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.back_btn button{
  background-color: var(--accent-primary);
  display: flex;
  padding: 5px;
  height: 45px;
  width: 175px;
  max-height: 50px;
  max-width: 175px;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  font-size: 18px;
}

.back_btn button:hover{
  background-color: var(--primary-bg);
  color: var(--accent-primary);
  border: 2px solid var(--accent-primary);
}

.back-img{
  width: 35px;
  height: 35px;
}
/* Canvas */

.canvas{
  max-width:1000px;
  max-height: 400px;
  height: 400px;
  background-color: var(--secondary-bg);
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.text-display{
  font-family: var(--playground-font);
  color: var(--secondary-text);
  max-width: 900px;
  max-height: 260px;
  width: 90%;
  height: 80%;
  overflow-y: hidden;
  padding: 20px;
  border-radius: 15px;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: space-around;
  align-items: center;
text-align: justify;
font-size: 36px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 3.6px;
}

.activeWord{
  border-bottom: 2px solid var(--accent-primary);
}

/* Playground */

.playground{
  max-width: 100vw;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  /* padding: 25px; */
  max-height: 600px;
  height: 500px;
  margin-top: 25px;
}

.hidden-input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}


/* Styling for different char status during test run */

.char {
  color: var(--text-default);
}

.char.correct {
  color: var(--accent-primary);
}

.char.incorrect {
  color: var(--accent-secondary);
}

.char.missed {
  color: var(--text-muted);
  opacity: 0.5;
}

.char.extra {
  color: var(--text-muted);
  opacity: 0.6;
}

.char.active {
  position: relative;
}

.char.active::after {
  content: "";
  position: absolute;
  /* right: -2px; */
  left: -3px;
  bottom: 0;
  width: 2px;
  height: 1.2em;
  background: var(--accent-primary);
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}

